<a  href='https://ko-fi.com/preciouschicken'><img id="kofi" height='36' width='142.583' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi1.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

<div>
    <a id="lightning_button" href="https://getalby.com/p/preciouschicken">&#8383;⚡ Or buy me a coffee with Bitcoin Lightning</a>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ .Site.Params.disqusShortname }}'; 

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
